.placeholder-white::placeholder {
  color: #999999 !important;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container input {
  flex: 1;
}

.searching-icon {
  fill: rgb(212, 212, 212);
  cursor: pointer;
  margin-left: 5px
}

.user-profile-icon {
  fill: rgb(212, 212, 212);
}

