html,
body,
div#root,
.home {
  min-height: 100vh;

}

.home {
  display: flex;
  flex-direction: column;
}

.user-data-holder {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img-holder {
  border: 1px solid black;
  border-radius: 10px;
}

.user-img {
  max-height: 350px;
  border-radius: 10px;
}

.users-holder {
  border: white solid 1px;
  border-radius: 10px;
}

li {
  list-style: none;
}

.user-elm-holder {
  border: 1px solid white;
  border-radius: 10px;
}

.block-icon {
  fill: white;
  transition: all 0.3s ease-in-out;
}

.block-icon:hover {
  fill: rgb(255, 0, 0);
}

.block-unlock-button{
  background-color: transparent;
  transition: all .3 ease-in-out;
}

.block-unlock-button:hover {
  background-color: rgb(108, 108, 108) !important;
}